
3d_result/
3d_result——


3d_result_/
stable-virtual-camera/
threestudio/
runs/
tmp_mesh/
submodules/checkpoint
submodules/RepViT/checkpoints/
submodules/Depth-Anything
submodules/Hunyuan3D-2
submodules/Leverage-Robotics-NCL-2
submodules/GEN3C_
submodules/LightGlue
pytorch3d/
xml/
tmp/
!gsplat/examples/datasets/colmap.py
!gsplat/examples/simple_trainer_2dgs.py
video_models/lora_models
model_cache/

snapshot_fw.dump
render_complete_scene.py
render_scene_with_moving_cam.py

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.egg-info
build/
submodules/**/**/*.so
**/gnu.so


submodules/pytorch3d
submodules/Hunyuan3D-2
submodules/checkpoint