opencv-python==4.11.0.86
torchvision==0.22.1
torch==2.7.1
imageio
lpips
nerfview
matplotlib
splines
tyro
git+https://github.com/rmbrualla/pycolmap.git@cc7ea4b7301720ac29287dbe450952511b32125e
numpy==1.24.4
tensorboard
torchmetrics
scikit-learn
open3d==0.19.0
flask_socketio
flask_cors
kornia
diffusers==0.36.0
rp
einops
decord
icecream
transformers==4.57.3
sentencepiece
protobuf
peft
plyfile
rembg
onnxruntime
timm
